<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fertile Thumb Home Page</title>
</head>
<body>
  <app-header></app-header>
  <app-carousel></app-carousel>
  <div>
    <h2 id="LandingPageSubheadings"> Featured </h2>
  </div>
  <app-cards></app-cards>
  <footer>
    <p>Contact: jordan.taylor@ceiamerica.com <br>
      © 2022 Jordan Taylor </p>
  </footer>
</body>
</html>

<router-outlet></router-outlet>
